@use './variables' as *;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin heading-font {
  font-family: $font-family-heading;
  font-weight: 400;
  letter-spacing: 0.05em;
}
