@use './shared/variables' as *;
@use './shared/mixins' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: $font-family-base;
  background-color: $background-color;
  color: $black-blue-color;
}

h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --royal-blue: #{$royal-blue-color};
  --royal-pink: #{$royal-pink-color};
  --background-color: #{$background-color};
  --black-blue: #{$black-blue-color};
  --black-blue-tr20: #{$black-blue-color-tr20};
  --black-blue-tr10: #{$black-blue-color-tr10};
  --max-width: #{$max-width};
}
.container {
  width: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 1rem;
}
